/* Existing styles */

body {
    font-family: 'Arial', sans-serif;
    background-color: #1c1c1c;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(135deg, #2e2e2e, #000000);
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
}

header .logo {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
    font-size: 28px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#header-buttons {
    text-align: center;
    margin: 25px 0;
}


#div_inputs {
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}
 #div2 {
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px auto;
    
}


.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}


#iso1 {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#noniso1 {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}


.input-group label {
    width: 350px;
    text-align: left;
    margin-right: 10px;
    color: #b0b0b0;
}

.input-group input{
    width: 105px;
    margin-left: 0px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    background-color: #3c3c3c;
    color: #e0e0e0;
}
.input-group select {
    width: 125px;
    margin-left: 00px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    background-color: #3c3c3c;
    color: #e0e0e0;
}
#vrtype{
    margin-left: 200px;
}
#numlegs{
    margin-left:105px;
}


.input-group .empty { 
    width: 0px;
    height: 0px;
    visibility: hidden;
}




.unit {
    margin-left: 5px;
    color: #b0b0b0;
}

button#mySubmit, button#mySubmit2 {
    padding: 10px 20px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button#mySubmit:hover, button#mySubmit2:hover {
    background-color: #218838;
    transform: scale(1.05);
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

h2,h3,h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

p {
    margin-bottom: 10px;
}

p span {
    font-weight: bold;
    color: #ffffff;
}

mark {
    background-color: #ffcc00;
    color: #1c1c1c;
    padding: 2px 4px;
    border-radius: 4px;
}

.larger-plate {
    font-size: 16px;
    font-weight: bold;
}

#div2 {
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

#div2 .result-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#div2 .result-item span {
    font-weight: bold;
    color: #ffffff;
}

#image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.nav-button1 {
    padding: 10px 20px;
    background-color: #c2bfbf;
    color: #e7ece8;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s, transform 0.3s;
}
.nav-button1 {
    position: relative; /* Ensure the pseudo-element is positioned relative to the button */
}

.nav-button1:hover {
    background-color: #8B8b8B;
    transform: scale(1.1);
}

.nav-button1:hover::after {
    content: "To switch to the main menu,press the 'BACK' Button";
    position: absolute;
    top: 100%; /* Position below the button */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333; /* Background color for the note */
    color: #fff; /* Text color for the note */
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap; /* Prevents the text from wrapping */
    z-index: 10; /* Ensures the note appears above other elements */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Smooth transition for showing the note */
    pointer-events: none; /* Ensures the note does not interfere with mouse events */
}

.nav-button1:hover::after {
    opacity: 1; /* Show the note on hover */
}

.nav-button2 {
    padding: 10px 10px;
    background-color: #987474;
    color: #ece9e9;
    border: none;
    border-radius: 4px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s, transform 0.3s;
}
.nav-button2:hover {
    background-color: #699c73;
    transform: scale(1.05);
}


#footer {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 10px 20px;
    bottom: 0;
    right: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footer2 {
    font-size: 12px;
    font-weight: bold;
    color:rgb(248, 247, 245);
    text-align: right
}


.subscript{
    font-size: x-small;
    font-style: italic;
}


.center-container {
    display: flex;
    align-items: center;
    width: 75%;
    text-align: right;
    line-height: 20%;
}
.label {
    flex: 30;
    text-align: left;
    font-weight: 100;
    font-style: oblique;
}
.result {
    
    text-align: right;
    font-weight: 100;
    font-style: oblique;
}

.result1 {
    
    text-align: end;
    font-weight: 100;
    font-style: oblique;
}

.selectColor {
    text-align: left;
    font-weight: 1800;
    font-style:oblique;
    font-size:small ;
   
}

.selectColor input {
    text-align: left;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    background-color: #3c3c3c;
    color: #e0e0e0;
    font-size:medium ;
    margin-left: 20%;
    color: #e0e0e0;
    width: 250px; /* Set the width of the input field */
    height: 15px; /* Set the height of the input field */
    padding: 10px; /* Optional: Add padding inside the input field */
    font-style:italic;
    font-weight: 400;  
}

.selectColor label {
    text-align: left;
    font-size:medium ;
    margin-right: 0%;
    color: #e0e0e0;
    width: 250px; /* Set the width of the input field */
    height: 15px; /* Set the height of the input field */
    padding: 10px; /* Optional: Add padding inside the input field */
    font-style:italic;
    font-weight: 400;

}

.selectColor select {
    margin-left: 25%;
    border-radius: 4px;
    background-color: #3c3c3c;
    color: #e0e0e0;
    text-align: left;
    font-size:medium ;
    width: 250px; /* Set the width of the input field */
    padding: 10px; /* Optional: Add padding inside the input field */
    font-style:italic;
    font-weight: 400;    
   
}